@using Project1.Models;
@model USER
@{
    ViewData["Title"] = "ADMINUSER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<script>
    $(document).ready(function () {

        $("#button1").click(function () {
            $("#div1").load("/Project/ADMINUSER");
        });

    });
</script>*@
@*<button type="button" id="button1"> Display </button>

<div id="div1"></div>*@


@*<div class="mb-3 col-md-6">
    <label>ADDUser<span class="text-danger">*</span></label>
    @Html.DropDownListFor(model => model.ADDUser, new List<SelectListItem> {
    new SelectListItem { Text="--Select--",Value="--select--"},
    new SelectListItem { Text="ADD USER",Value="ADD USER"},
    new SelectListItem { Text="ADD INTERVIEWER",Value="ADD INTERVIEWER"},
    

    }, new { @class = "form-control" })
</div>*@
<button type="button" class="btn btn-secondary btn-lg btn-block" style="">@Html.ActionLink("  +ADD NEW USER","REGISTER","Project")</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">@Html.ActionLink("+ADD NEW STUDENT","STUDENTADD","Project")</button>
@*<button type="button" class="btn btn-secondary btn-lg btn-block">@Html.ActionLink("Step-2","SSCDetails","Project")</button>*@